@import "../../../../../react_shared/_utils/index";

.request__attributes-header {
  display: flex;
  margin-bottom: rem(15px);

  @include widthLessThan($mobile-rtf) {
    align-items: center;
  }
}

.request__attributes-title {
  @include standardText(20px, 500, $rtf_black);

  @include widthLessThan($mobile-rtf) {
    font-size: rem(18px);
    color: $rtf_text_grey;
  }
}

.request__attributes-description {
  margin-top: rem(5px);

  @include standardText(18px, 400, $rtf_text_grey);

  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.request__attributes-add {
  margin-left: auto;
  width: rem(145px);
}

.request__attributes-add--desktop {
  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.request__attributes-btn--mobile {
  align-items: center;
  justify-content: center;
  width: 100%;

  @include standardText(16px, 400, $rtf_blue);

  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: $rtf_blue_grey;
  display: flex;
  max-height: rem(30px);
  min-height: rem(30px);
}

.request__attributes-add--mobile {
  display: none;
  max-width: rem(30px);

  @include widthLessThan($mobile-rtf) {
    display: block;
  }
}

.request__attributes-list {
  display: flex;
  flex-wrap: wrap;
  margin: rem(0 -12.5px 28px -12.5px);

  @include widthLessThan($mobile-rtf) {
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: rem(16px);
    }
  }
}

.request__attributes-icon--plus path {
  stroke: $rtf_blue;
}
