@import "../../../../../react_shared/_utils/index";

.request__attribute-wrapper {
  flex: 1 0 50%;
  max-width: 50%;
  padding: rem(12.5px);

  @include widthLessThan($mobile-rtf) {
    max-width: 100%;
  }
}

.request__attribute-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  padding: rem(20px);
  border: 1px solid $rtf_default_border;
  border-radius: $rtf_xs_radius;
}

.request__attribute-header {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);
}

.request__attribute-image {
  width: rem(40px);
  min-width: rem(40px);
  height: rem(40px);
  background: $rtf_grey;
  border-radius: 50%;
}

.request__attribute-title {
  margin-left: rem(10px);

  @include standardText(16px, 500, $rtf_black);

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  line-height: rem(20px);
}

.request__attribute-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: rem(10px);
}

.request__attribute-button {
  margin-top: rem(16px);

  @include standardText(16px, 500, $rtf_text_grey);

  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.request__attribute-button:last-of-type {
  margin-top: 0;
}

.request__attribute-button .rtf__standard-button--link {
  padding-bottom: 5px;
  font-size: rem(16px);
  text-align: left;
}

.request__attribute-button .rtf__standard-button--link:hover,
.request__attribute-button.active .rtf__standard-button--link:hover {
  color: $rtf_blue;
}

.request__attribute-button.active .rtf__standard-button--link,
.request__attribute-button.active .rtf__standard-button--link:hover {
  color: $rtf_blue;
}

.request__attribute-slider {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider-marks {
  @include standardText($size: 18px, $color: $rtf_text_grey);
}

.slider-marks--min {
  margin-right: rem(24px);

  @include widthLessThan($mobile-rtf) {
    margin-right: rem(15px);
  }
}

.slider-marks--max {
  margin-left: rem(24px);

  @include widthLessThan($mobile-rtf) {
    margin-left: rem(15px);
  }
}
