@import '../../../react_shared/_utils/index';

.notification-banner {
  display: flex;
  align-items: center;
  height: 100px;
  max-width: 100%;
  width: 100%;
  padding: rem(10px 40px);
  background-color: $violet_pale;
  border-radius: $rtf_xs_radius;

  @include widthLessThan($mobile-rtf) {
    width: auto;
    margin: 0 30px;
    padding: rem(15px 20px);
  }
}

.notification-banner__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}

.notification-banner__text {
  @include standardText(18px, 500, rgba($rtf_black, 0.5));

  @include widthLessThan($mobile-rtf) {
    font-size: rem(15px);
  }
}

.notification-banner__image {
  @include widthLessThan($mobile-rtf) {
    align-self: flex-end;
  }
}

