@import "../../../../react_shared/_utils/index";

.home-links {
  margin: rem(20px 0 25px);

  @include widthLessThan($mobile-rtf) {
    height: 50px;
    margin: 20px -30px 20px;
    overflow-y: hidden;
  }
}

.home-links__inner {
  display: flex;
  align-items: center;
  margin: rem(0 -8px);

  @include widthLessThan($mobile-rtf) {
    height: 57px;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.home-links__item-wrapper {
  padding: rem(0 8px);
}

.home-links__item-wrapper:first-of-type {
  @include widthLessThan($mobile-rtf) {
    padding-left: 30px;
  }
}

.home-links__item-wrapper:last-of-type {
  @include widthLessThan($mobile-rtf) {
    padding-right: 30px;
  }
}

.home-links__item {
  display: inline-block;
  padding: rem(10px 17px);
  background-color: $rtf_pale_grey;
  border-radius: $rtf_medium_radius;
}

.home-links__item-text {
  @include standardText($color: $rtf_pale_blue, $weight: 500);

  transition: 0.3s color ease-in;
}

.home-links__item:hover .home-links__item-text {
  color: $rtf_blue;
}
