@import "../../../../react_shared/_utils/index";

.home__participants-navigation {
  margin-top: rem(25px);
  display: flex;
  align-items: center;
}

.home__participants-link {
  border: 0;
  outline: 0;

  @include standardText(18px, 500, $rtf_text_grey);

  font-size: 18px;
  margin-right: rem(20px);
  background-color: transparent;
  transition: 0.3s ease-in color;
  cursor: pointer;

  @include widthLessThan($desktopMiddle) {
    font-size: 15px;
  }
}

.home__participants-link:not(:last-of-type) {
  margin-right: rem(20px);
}

.home__participants-link--active,
.home__participants-link:focus,
.home__participants-link:hover {
  color: $rtf_black;
}

.home__participants-row {
  position: relative;
  margin-top: 20px;

  @include widthLessThan($mobile-rtf) {
    margin: 20px -30px 0;
    min-height: 100px;
  }
}

.home__participants-row .swiper-button-prev,
.home__participants-row .swiper-button-next {
  background-color: $white;
  transform: translateX(50%);
  top: 18px;
}

.home__participants-row .swiper-button-next {
  background-image: url(../../../../_assets/svg/arrow_dark.svg);
}

.home__participants-row .swiper-button-prev {
  background-image: url(../../../../_assets/svg/arrow_dark.svg);
  transform: translateX(-50%) translateY(0) rotate(180deg);
}

.home__participants-row .swiper-arrow__icon {
  display: none;
}

.home__participants-row .swiper-slide:first-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-left: 30px;
  }
}

.home__participants-row .swiper-slide:last-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-right: 30px;
  }
}
