@import 'mixins';

// Карта размеров
$font-size: (
  h1 : 50px,
  h2 : 30px,
  h3 : 25px,
  h4 : 20px,
  h5 : 22px,
  h6 : 18px
);

// Функция возвращает соответсвующий размер шрифта заголовка
@function font-size($key) {
  @return map-get($font-size, $key);
}

@mixin heading($key, $color: $rtf_black, $weight: 600) {
  font-size: rem(font-size($key));
  color: $color;
  font-weight: $weight;
  line-height: normal;
}

/**
пример использования:
@include heading(h1);
вернет стили для заголовка h1
*/
