$darkGrey: #383f4a;
$lightGrey: #a5adb6;
$disabledBackColor: rgba(237, 239, 240, 1); // ?
$borderRadius: 0.3125rem;
$borderBigRadius: 0.9375rem;
$boxShadow: 0 5px 20px 0 rgba(165, 173, 182, 0.2);
$white: #fff;
$black: rgba(0, 0, 0, 0.3);

/*** new variables ***/

// цвет bgc и фона иконок
$paleGrey: #edf4ff;
$darkSkyBlue: rgba(74, 144, 226, 0.5);
$mainGrey: #4a4a4a;
$lightGrey1: #9b9b9b;
$boxShadowColor: rgba(165, 173, 182, 0.4);
$softBlue: #5199ff;
$softGrey: #e3e3e3;
$darkMint: #32d296;
$green: #10ac38;
$coolGrey: #a5adb6; // ?
$violet: #b869fd;
$violet_pale: #D6DAFF;
$orange: #f6ae07;
$yellow: #ffe700;
$coralPink: #ff7176;
$bgGray: #f4f6f7;

/** из макетов */

$light-grey-blue-10: rgba(165, 173, 182, 0.1);
$light-grey-blue-30: rgba(165, 173, 182, 0.3);
$charcoal-grey: #383f4a;
$soft-blue-10: rgba(81, 153, 255, 0.1);
$soft-blue-20: rgba(81, 153, 255, 0.2);
$soft-blue-50: rgba(81, 153, 255, 0.5);

/** Перемнные для RTF */
$rtf_blue: #3252ff;
$rtf_pale_blue: #7384e0;
$rtf_light_blue: #007aff;
$rtf_dark_blue: #000252;
$rtf_purple: #ce64f7;
$rtf_dark_purple: #7a58ff;
$rtf_grey: #a7b6c8;
$rtf_pale_grey: #dee4f1;
$rtf_light_grey: #f2f4f6;
$rtf-separate_grey: #e4e8f2;
$rtf_white: #ffffff;
$rtf_black: #000000;
$rtf_blue_grey: #edf0f7;
$rtf_light_pink: #f6edf7;
$rtf_light_peach: #fcecea;
$rtf_text_grey: #89929c;
$rtf_yellow: #ffa800;
$rtf_green: #17bb4f;
// Цвет графиков в статистике
$rtf_statistic_grey-blue: #eef2fe;
$rtf_statistic_blue: #0088ff;
$rtf_statistic_red: #fc2549;
$rtf_statistic_violet: #8d56fd;
$rtf_statistic_green-blue: #32d296;
$rtf_statistic_orange: #ff5d3c;
$rtf_statistic_green: #5bd532;

// Цвет бордеров
$rtf_form_border: #dbdbdb;
$rtf_default_border: #d8d8d8;

// Цвет в проектах
$rtf_projects_red:#e12729;
$rtf_dirty_blue:#90c3ef;

// Размеры радиусов
$rtf_xs_radius: 0.625rem;
$rtf_small_radius: 0.9375rem;
$rtf_medium_radius: 1.25rem;
$rtf_popup_radius: 1.5625rem;
$rtf_big_radius: 2.5rem;

// Тени
$rtf_round_shadow: 0 2px 4px rgba(0, 2, 82, 0.2);
$rtf_default_box_shadow: 0 15px 30px rgba(0, 2, 82, 0.15), 0 2px 4px rgba(0, 2, 82, 0.2);

// Градиенты
$rtf_default_gradient: linear-gradient(180deg, $rtf_blue 0%, $rtf_dark_purple 100%);

/** уровни z-index */
// элементы по hover`у и т.п.
// элементы внутри
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;

// header-fixed, поиск, уведомления/задачи и т.п.
$z-index-4: 11;
$z-index-5: 12;
$z-index-6: 13;

// Попапы/dialog/modal,
// ant-design-select, ant-design-datepicker и т.п.
$z-index-7: 101;
$z-index-8: 102;
$z-index-9: 103;

// сообщения
$z-index-10: 1001;

// брейкпоинты
$mobile: 320;
$mobile-rtf: 660;
$tablet: 768;
$desktopMin: 1024;
$desktopMiddle: 1280;
$desktop: 1440;
