@import "../../../react_shared/_utils/index";

.mobile-suspense {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  z-index: 1000;
  background: rgba($rtf_black, 0.5);
}
