@import "../../react_shared/_utils/index";

.rtf__standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  width: 100%;
  padding: 13px 12px;

  @include standardText(18px, 500, $rtf_blue);

  border: 0;
  outline: 0;
  border-radius: $rtf_xs_radius;
  background-color: $rtf_blue_grey;
  color: $rtf_blue;
  transition: 0.3s ease-in all;
}

.rtf__standard-button:hover,
.rtf__standard-button:active,
.rtf__standard-button:focus {
  background-color: rgba($rtf_blue, 0.9);
  color: $rtf_white;
}

.rtf__standard-button--primary {
  background-color: $rtf_blue;
  color: $rtf_white;
}

.rtf__standard-button--secondary {
  background-color: $rtf_blue_grey;
  color: $rtf_blue;
}

.rtf__standard-button--secondary:focus {
  background-color: $rtf_blue_grey;
  color: $rtf_blue;
}

.rtf__standard-button--link {
  padding: 0;
  width: auto;
  background-color: transparent;
  color: $rtf_text_grey;
}

.rtf__standard-button--link:hover,
.rtf__standard-button--link:active,
.rtf__standard-button--link:focus {
  color: $rtf_black;
  background-color: transparent;
}

.rtf__standard-button--outline {
  padding: rem(10px 20px);
  color: $rtf_text_grey;
  background-color: transparent;
  border-radius: $rtf_big_radius;
  border: 1px solid $rtf_default_border;
}

.rtf__standard-button--outline:hover,
.rtf__standard-button--outline:active,
.rtf__standard-button--outline:focus {
  background-color: $rtf-blue;
  border-color: $rtf-blue;
}
