@import "../../../react_shared/_utils/index";

.feedback-competence__title {
  @include heading(h6, $weight: 500);
}

.feedback-competence__body {
  padding-top: rem(5px);
}

.feedback-competence__list {
  display: flex;
  flex-wrap: wrap;
}

.feedback-competence__list-item {
  display: flex;
  width: 100%;
  padding: rem(5px 0);
}
