@import '../../../react_shared/_utils/index';

.add-attribute__search {
  margin-bottom: rem(25px);
}

.add-attribute__title {
  @include heading(h4, $weight: 500);

  font-size: 18px;
  margin-bottom: rem(15px);

  @include widthLessThan($mobile-rtf) {
    color: $rtf_text_grey;
  }
}

.add-attribute__group:not(:last-child) {
  margin-bottom: rem(30px);
}

.add-attribute__list {
  display: flex;
  flex-wrap: wrap;
  margin: rem(0 -10px);

  @include widthLessThan($mobile-rtf) {
    flex-direction: column;
  }
}
