@import "../../../react_shared/_utils/index";

.property-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: rem(20px);
  border-radius: $rtf_xs_radius;
  background-color: $rtf_light_grey;
  transition: 0.3s ease-in all;
  cursor: pointer;

  @include widthLessThan($mobile-rtf) {
    background-color: $rtf_white;
    border: 1px solid $rtf_default_border;
  }
}

.property-slide.selected {
  @include widthLessThan($mobile-rtf) {
    background-color: $rtf_blue_grey;
    border-color: transparent;
  }
}

.property-slide__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding: rem(10px 20px 35px);
}

.property-slide__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: rem(10px);
  border-radius: 50%;
  background-color: $rtf_grey;
  transition: 0.3s ease-in background-color;

  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.property-slide:hover .property-slide__icon {
  background-color: $rtf_blue;
}

.property-slide.selected .property-slide__icon {
  background-color: $rtf_blue;
}

.property-slide__name {
  @include standardText($color: $rtf_text_grey, $weight: 500);

  line-height: 1.25;
  word-break: break-word;
  hyphens: auto;
  transition: 0.3s ease-in color;

  @include widthLessThan($mobile-rtf) {
    line-height: 1;
    font-weight: 400;
  }
}

.property-slide:hover .property-slide__name {
  color: $rtf_black;
}

.property-slide.selected .property-slide__name {
  color: $rtf_blue;
}
