@import "../../../react_shared/_utils/index";

.user-card {
  display: flex;
  align-items: center;
  padding: rem(15px);
  margin-bottom: rem(25px);
  border-radius: $borderBigRadius;
  background-color: $rtf_white;
  transition: 0.3s ease-in box-shadow;
  cursor: pointer;
}

.user-card--active {
  box-shadow: $rtf_default_box_shadow;
}

.user-card__photo {
  min-width: rem(50px);
  min-height: rem(50px);
  width: rem(50px);
  height: rem(50px);
  margin-right: rem(15px);
  background-color: $rtf_blue_grey;
  background-size: cover;
  border-radius: 50%;
}

.user-card__content {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.user-card__name {
  @include heading(h6, $weight: 500);
  // todo mixin если будет длинный текст добавляем многоточие
  white-space: nowrap;
  padding: rem(0 10px 0 0);
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card--active .user-card__name {
  color: $rtf_blue;
  font-weight: 500;
}

.user-card__position {
  @include standardText($color: $rtf_text_grey, $weight: 300);

  // todo mixin если будет длинный текст добавляем многоточие
  white-space: nowrap;
  padding: rem(0 10px 0 0);
  overflow: hidden;
  text-overflow: ellipsis;
}

//  Кол-во новых сообщений

.user-card__messages {
  width: rem(25px);
  height: rem(25px);
  min-width: rem(25px);
  margin-left: auto;
  background: $rtf_blue;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.messages-count {
  @include standardText($size: 13px, $color: $rtf_white, $weight: 500);

  line-height: 2;
}

//  Стили выбранного пользователя
//-----------------------------------------

.user-card.active,
.user-card:hover {
  box-shadow: $rtf_default_box_shadow;
}

.active .user-card__name {
  color: $rtf_blue;
}
