@import "../../../../react_shared/_utils/index";

.home__cards {
  margin: rem(0 -12px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include widthLessThan($mobile-rtf) {
    margin: 0;
  }
}

.home__card-wrapper {
  width: 33.3%;
  height: rem(230px);
  padding: rem(0 12px);
  margin-bottom: rem(25px);

  @include widthLessThan($desktopMiddle) {
    width: 50%;

    &:not(:last-of-type) {
      margin-bottom: rem(15px);
    }
  }

  @include widthLessThan($mobile-rtf) {
    width: 100%;
    height: 84px;
    padding: 0;
  }
}

.home__card-wrapper.disabled {
  cursor: default;
  pointer-events: none;

  .home__card-title {
    color: $rtf_text_grey;
  }
}

.home__card {
  position: relative;
  width: 100%;
  height: 100%;
  background: $rtf_white;
  border-radius: rem(20px);
  padding: rem(25px);
  box-shadow: $rtf_default_box_shadow;
  cursor: pointer;
  transition: all 0.15s ease-out;

  @include widthLessThan($desktopMiddle) {
    padding: 15px;
  }
}

.home__card:hover {
  box-shadow: none;
  background: $rtf_default_gradient;

  @include widthLessThan($mobile-rtf) {
    box-shadow: $rtf_default_box_shadow;
    background: $rtf_white;
  }
}

.home__card-title {
  @include standardText(20px, 500, $rtf_black);

  line-height: rem(25px);

  @include widthLessThan($desktopMiddle) {
    font-size: 15px;
    line-height: 1;
  }
}

.home__card-text {
  margin-top: rem(5px);

  @include standardText(15px, 400, $rtf_text_grey);

  word-break: break-word;
  hyphens: auto;
  line-height: rem(19px);

  @include widthLessThan($mobile-rtf) {
    font-size: 13px;
    line-height: 16px;
  }
}

.home__card:hover .home__card-title {
  color: $rtf_white;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_black;
  }
}

.home__card:hover .home__card-text {
  color: $rtf_white;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_text_grey;
  }
}

.home__card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 42px auto;
  background-repeat: no-repeat;

  @include widthLessThan($mobile-rtf) {
    flex-direction: row;
    align-items: center;
  }
}

.home__card-ico {
  width: rem(42px);
  height: rem(42px);

  @include widthLessThan($mobile-rtf) {
    width: 32px;
    height: 32px;
  }
}

.home__card-description {
  margin-top: auto;

  @include widthLessThan($desktopMiddle) {
    margin-top: rem(20px);
  }

  @include widthLessThan($mobile-rtf) {
    margin-top: 0;
    margin-left: rem(15px);
  }
}

.home__card:hover .home__sberprofi-notification {
  background-color: $rtf_white;
}

.home__sberprofi-notification {
  position: absolute;
  right: rem(15px);
  top: rem(15px);
  width: rem(35px);
  min-width: rem(35px);
  height: rem(35px);
  background-color: $paleGrey;
  background-image: url(../../../../_assets/svg/bell.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;

  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.disabled__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home__card.disabled {
  background: rgba($rtf_white, 0.3);
}

.home__card.disabled:hover {
  box-shadow: $rtf_default_box_shadow;
}
