@import "../../../../react_shared/_utils/index";

.compare__profiles {
  position: static;
  top: auto;
  padding-top: 26px;
  display: flex;
  background-color: $rtf_white;
}

.compare__header {
  position: sticky;
  top: -50px;
  z-index: 2;
  background-color: $white;
  border-bottom: 1px solid $rtf_default_border;
  transition: 0.4s ease-in width, 0.4s ease-in top;
}

.compare__statistics-column {
  width: 25%;
  height: 100%;
}

.compare__table {
  margin-top: 25px;
}

.compare-cell {
  max-width: 25%;
  width: 100%;
}

.compare-cell .user-title {
  flex-direction: column;
  align-items: flex-start;
}

.compare-cell .user-title__photo {
  margin: 0 0 5px 0;
}

.compare-cell .user-title__name {
  font-size: 18px;
  font-weight: 500;
}

.compare-cell .user-title__patronymic {
  display: block;
}

.compare-cell__count {
  @include standardText(18px, 500, $rtf_black);
}

.compare-cell__skill:not(:last-child) {
  margin-bottom: 15px;
}

.compare-cell__skill-name {
  @include standardText(18px, 400, $rtf_black);
}

.compare-cell:not(:first-child) .compare-cell__skill-name,
.compare-cell:not(:first-child) .compare-accordion-item__attribute-name,
.compare-cell:not(:first-child) .compare-accordion-item__name,
.compare-cell:not(:first-child) .compare-accordion-item__icon {
  visibility: hidden;
  pointer-events: none;
}
