@import "../../../../react_shared/_utils/index";

.comparison__filters {
  padding: 10px 0 22px;
  display: flex;
  align-items: center;
}

.comparison__filters-search {
  margin-left: auto;
}

.comparison__filters-select {
  max-width: 170px;
  width: 100%;
}
