@import "../../../react_shared/_utils/index";

.tabs .ant-tabs {
  overflow: unset;
}

.tabs .ant-tabs-nav .ant-tabs-tab {
  height: rem(36px);

  @include textButton($weight: 600, $color: $lightGrey, $size: 20px);

  box-sizing: content-box;
  transition: 0.3s ease-in-out color, 0.3s ease-in-out border-bottom-color;
}

.tabs .ant-tabs-nav .ant-tabs-tab-active,
.tabs .ant-tabs-nav .ant-tabs-tab:hover {
  color: $rtf_black;
  box-sizing: content-box;
}

.tabs .ant-tabs-ink-bar {
  background-color: $rtf_blue;
  height: 4px;

  @include widthLessThan($desktopMin) {
    display: none;
  }
}

.ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
.ant-tabs-tab-next.ant-tabs-tab-arrow-show {
  @include widthLessThan($desktopMin) {
    display: none;
  }
}

.ant-tabs-nav-container.ant-tabs-nav-container-scrolling {
  @include widthLessThan($desktopMin) {
    padding: 0;
  }
}
