@import "../../../react_shared/_utils/index";

.statistics-aside {
  padding: rem(0 50px 50px 50px);
  overflow-y: auto;
}

.statistics-aside .rtf__standard-button--link {
  padding-left: rem(20px);
  margin-bottom: rem(55px);
  color: $rtf_blue;
  font-size: rem(16px);
}
