@import "../../../../../../react_shared/_utils/index";

// стили tooltip'a

.tooltip-request {
  position: relative;
}

.tooltip-request .tooltip-request__text {
  position: absolute;
  bottom: 125%;
  left: rem(10px);
  width: rem(190px);
  padding: rem(10px);
  margin-left: rem(-86px);
  color: $rtf_white;
  text-align: center;
  background-color: $rtf_text_grey;
  border-radius: $rtf_xs_radius;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;

  @include widthLessThan($mobile-rtf) {
    bottom: rem(5px);
    left: rem(-46px);
    width: rem(50px);
    margin-left: rem(-14px);
    padding: rem(10px);
  }
}

.tooltip-request .tooltip-request__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: rem(-5px);
  border-width: rem(5px);
  border-style: solid;
  border-color: $rtf_text_grey transparent transparent transparent;

  @include widthLessThan($mobile-rtf) {
    top: rem(14px);
    left: rem(54px);
    border-color: transparent transparent transparent $rtf_text_grey;
  }
}

.tooltip-request:hover .tooltip-request__text {
  visibility: visible;
  opacity: 1;
}

.draggable-image {
  pointer-events: none;
}
