@import '../../react_shared/_utils/index';

.accordion {
  display: flex;
  flex-direction: column;
  border-radius: $rtf_xs_radius;
}

.accordion__header {
  transform: translateY(0);
}

.accordion__content-wrap {
  overflow: hidden;
  transition: max-height 0.6s ease;
}
