@import '../../../react_shared/_utils/index';

.swiper-arrow__icon {
  fill: $rtf_white;
}

.swiper-arrow__icon--prev {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-top: 0;
  border-radius: 50%;
  background-color: $rtf_grey;
  border: 0;
  background-image: none;

  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.swiper-button-next {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}
