@import "../../../react_shared/_utils/index";

.rating__items {
  @include widthLessThan($mobile-rtf) {
    padding-bottom: rem(40px);
  }
}

.rating__item {
  margin-bottom: rem(40px);
}

.ratings-preloader {
  margin-top: rem(-40px);
  padding-bottom: rem(20px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include standardText(16px, 500, $rtf_black);
}
