@import '../../../../react_shared/_utils/index';

.search-competence {
  padding: rem(0 10px);

  @include widthLessThan($mobile-rtf) {
    padding: 0;
  }
}

.search-competence:not(:last-child) {
  margin-bottom: rem(20px);
}

.search-competence__title {
  @include heading(h6, $weight: 500);

  font-size: rem(15px);

  @include widthLessThan($mobile-rtf) {
    padding: rem(0 10px);
  }
}

.search-competence__body {
  padding-top: rem(8px);

  @include widthLessThan($mobile-rtf) {
    padding-top: 0;
  }
}

.search-competence__list {
  display: flex;
  flex-wrap: wrap;
  margin: rem(0 -10px);

  @include widthLessThan($mobile-rtf) {
    margin: 0;
  }
}

.search-competence__list-item {
  display: flex;
  max-width: 50%;
  width: 100%;
  padding: rem(10px);

  @include widthLessThan($mobile-rtf) {
    max-width: 100%;
  }
}

.search-competence__list-item .search__attribute {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
