@import "../../react_shared/_utils/index";

.comment {
  padding: rem(20px);
  background-color: $rtf_blue_grey;
  border-radius: $borderRadius  $borderBigRadius  $borderBigRadius  $borderBigRadius;
}

.comment__text {
  @include standardText();

  word-break: break-word;
  hyphens: auto;
}
