@import "../../react_shared/_utils/index";

.feedback {
  @include widthLessThan($mobile-rtf) {
    padding-bottom: rem(40px);
  }
}

.feedback__search {
  margin-bottom: rem(20px);
}

.feedback__group:not(:last-child) {
  margin-bottom: rem(15px);
}

.feedback__group-title {
  @include heading(h4, $weight: 500);

  @include widthLessThan($mobile-rtf) {
    @include heading(h6, $weight: 500);
  }
}

.feedback__users-inner {
  display: flex;
  margin: rem(0 -4px);
  flex-wrap: wrap;
}

.feedback__group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(15px);

  @include widthLessThan($mobile-rtf) {
    margin-bottom: 0;
  }
}

.feedback__edit {
  display: none;
  background: transparent;
  border: none;

  @include standardText(15px, 500, $rtf_text_grey);

  @include widthLessThan($mobile-rtf) {
    display: block;
  }
}

.feedback__user-card {
  flex: 1 0 auto;
  max-width: calc(100% / 7);
  width: 100%;
  min-height: 100%;
  padding: rem(4px);

  @include widthLessThan($mobile-rtf) {
    flex-basis: rem(30px);
    max-width: calc(100% / 4);
  }
}

.feedback-user-card__icon {
  width: 100%;
  height: 100%;
  stroke: $rtf_white;
}
