@import "../../../../../react_shared/_utils/index";

.compare-row {
  padding: 20px 0;
}

.compare-row:first-child {
  padding: 20px 0 30px 0;
}

.compare-row:not(:last-child) {
  border-bottom: 1px solid $rtf_default_border;
}

.compare-row__details {
  display: flex;
}

.compare-row__name {
  margin-bottom: 5px;
  @include standardText(16px, 500, $rtf_text_grey);
}
