@import "../../../../../react_shared/_utils/index";

.my-rating__form {
  margin-top: 50px;
}

.my-rating__select {
  max-width: 400px;
}

.profi__footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.profi__footer-button {
  margin-right: 15px;
}

.profi__footer-button:last-of-type {
  margin-right: 0;
}

.my-rating__title {
  @include standardText(25px, 500, $rtf_black);
  margin-bottom: 25px;
}

.my-rating__more {
  margin-left: 25px;
  position: relative;
  bottom: 18px;
}

.my-rating__flex-row {
  display: flex;
  align-items: flex-end;
}

// ================================================================================================================

// Переопределяем стили
.my-rating__form .form__select-field {
  border-radius: 10px;
  background-color: $rtf_blue_grey;
  border: 0;
}

.my-rating__form .form__select-label-text   {
  @include standardText(18px, 500, $rtf_black);
}

.my-rating__form .popup-select__item:hover {
  color: $rtf_blue;
}

.my-rating__form .popup-select__item.selected {
  color: $rtf_blue;
}

.my-rating__form .my-form__textarea:focus {
  border-color: $rtf_blue;
}

.my-rating__form .form__select-option-list {
  border: 0;
  box-shadow: $rtf_default_box_shadow;
}

.my-rating__form .form__select {
  max-width: 400px;
}

.my-form__textarea {
  min-height: 150px;
}
