@import "../../../../react_shared/_utils/index";

.requests__navigation {
  position: relative;
  display: flex;
  align-items: center;

  @include widthLessThan($mobile-rtf) {
    margin: 0 -30px;
    background-color: $rtf_dark_blue;
  }
}

.requests__navigation .swiper-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: rem(20px 0 42px 0);
  margin: rem(0 -30px);

  @include widthLessThan($mobile-rtf) {
    padding: 30px 0 100px;
    margin: 0;
  }
}

.requests__navigation .swiper-wrapper {
  margin: rem(0 30px);
}

.requests__navigation .swiper-slide {
  @include widthLessThan($mobile-rtf) {
    width: 50%;
  }
}

.requests__navigation .swiper-button-next,
.requests__navigation .swiper-button-prev {
  top: calc(50% - 0.6875rem); // фикс из-за нижнего падинга у слайдов
}

.requests__navigation .swiper-slide:first-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-left: 30px;
  }
}

.requests__navigation .swiper-slide:last-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-right: 30px;
  }
}

.requests__navigation .swiper-container::before,
.requests__navigation .swiper-container::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  z-index: 2;

  @include widthLessThan($mobile-rtf) {
    display: none;
  }
}

.requests__navigation .swiper-container::before {
  left: 0;
  background: linear-gradient(-270deg, #ffffff 0%, rgba(255, 255, 255, 0) 94.29%);
}

.requests__navigation .swiper-container::after {
  right: 0;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 94.29%);
}
