@import "../../../../../react_shared/_utils/index";

.statistics-skills-list {
  padding: rem(35px 25px);
  border: 1px solid $rtf_default_border;
  border-radius: $rtf_xs_radius;

  @include widthLessThan($mobile-rtf) {
    padding: rem(15px);
  }
}

.statistics-skill__wrap:not(:last-child) {
  margin-bottom: rem(22px);
}

.statistics-skills-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(16px);
}

.statistics-skills-filter__actions {
  display: flex;
  align-items: center;

  @include widthLessThan($mobile-rtf) {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
  }
}

.statistics-skills__button:not(:last-child) {
  margin-right: rem(25px);
}

.statistics-skills__button .rtf__standard-button--link {
  @include standardText(18px);
}

.statistics-skills__button .rtf__standard-button--link:hover,
.statistics-skills__button.active .rtf__standard-button--link {
  color: $rtf_blue;
}

.statistics-skills-filter__search .filter-search {
  margin-bottom: 0;
}

.statistics-skills .indicator__rating,
.statistics-skills .indicator-progress__title {
  @include widthLessThan($mobile-rtf) {
    margin: rem(0 0 10px 0);
  }
}

.statistics-skills .indicator-progress__title {
  @include widthLessThan($mobile-rtf) {
    max-width: calc(100% - 2.5rem);
    width: 100%;
    padding: rem(0 0 0 10px);
  }
}

.statistics-skills .indicator__rating {
  @include widthLessThan($mobile-rtf) {
    min-width: 2.5rem;
  }
}

.statistics-skills .indicator-progress__arrow--mobile {
  display: none;
}
