@import "../../../../react_shared/_utils/index";

.project-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: rem(20px);
  border: 1px solid $rtf_default_border;
  border-radius: $rtf_small_radius;
}

.project-item__name {
  margin-bottom: rem(10px);

  @include standardText($weight: 500, $color: $rtf_text_grey);
}

.project-item__indicator {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);
}

.project-item__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;

  @include heading(6, $color: $rtf_blue, $weight: 500);

  background-color: $rtf_blue_grey;
  border-radius: 50%;
}

.project-item__rating-comment {
  padding-left: rem(10px);
}

.project-item__rating-comment .show-more__text {
  font-size: rem(16px);
}

.project-item__title {
  margin-bottom: rem(5px);

  @include standardText($weight: 500, $color: $rtf_black);
}

.project-item__description .show-more__text {
  @include standardText($color: $rtf_text_grey);
}

.project-item__description .show-more__title {
  color: $rtf_text_grey
}

.no-rate {
  padding-left: rem(10px);

  @include standardText($color: $rtf_blue, $weight: 500);
}

.project-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  background-color: $rtf_grey;
  border-radius: 50%;
}
