@import '../../../react_shared/_utils/index';

.team-filter {
  position: relative;
  padding: rem(10px 0 20px 0);
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: -3.125rem;
    width: calc(100% + 6.25rem);
    height: 7px;
    background: linear-gradient(180deg, #ededed 0%, #ffffff 100%);
  }

  @include widthLessThan($mobile-rtf) {
    padding-top: 0;

    &::before {
      display: none;
    }
  }
}

.team-filter__inner {
  display: flex;
  align-items: center;

  @include widthLessThan($mobile-rtf) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team-filter__options {
  display: flex;
  align-items: center;
  width: 100%;
  margin: rem(0 -10px);

  @include widthLessThan($mobile-rtf) {
    order: 3;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
  }
}

.team-filter__select {
  max-width: rem(190px);
  width: 100%;
  padding: rem(0 10px);
  animation: 0.3s forwards showSelect;

  @include widthLessThan($mobile-rtf) {
    max-width: 100%;
    padding: 0;
  }
}

.team-filter__select .dropdown {
  max-width: 100%;
  width: 100%;
}

.team-filter__select.hide {
  animation: 0.3s forwards hideSelect;
}

.team-filter__compare {
  max-width: rem(223px);
  width: 100%;
  padding: rem(0 10px);
  box-sizing: content-box;

  & .rtf__standard-button {
    font-size: rem(16px);
  }
}

.team-filter__search {
  max-width: rem(200px);
  width: 100%;
  margin-left: auto;

  @include widthLessThan($mobile-rtf) {
    order: 1;
    max-width: calc(100% - 40px);
    margin-left: 0;
    margin-bottom: rem(15px);
  }
}

.team-filter__toggle {
  @include widthLessThan($mobile-rtf) {
    order: 2;
    margin-bottom: rem(15px);
  }
}

.team-filter__toggle-button {
  background: none;
  padding: 0;
  outline: 0;
  border: 0;
}

.team-filter__icon path {
  transition: 0.3s ease-in fill;
}

.team-filter__icon--active path {
  fill: $rtf_blue;
}

@keyframes showSelect {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideSelect {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
