@import "../../../../react_shared/_utils/index";

.request__navigation-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $rtf_blue_grey;
  border-radius: rem(20px);
  padding: rem(20px);
  margin-right: rem(20px);
  transition: 0.3s ease-in background-color, 0.3s ease-in box-shadow;
  cursor: pointer;
}

.request__navigation-item:last-of-type {
  margin-right: 0;
}

.request__navigation-item:hover {
  background-color: $rtf_white;
  box-shadow: $rtf_default_box_shadow;
}

.request__navigation-item:hover .request__navigation-label {
  color: $rtf_blue;
}

.request__navigation-label {
  @include standardText(18px, 500, $rtf_black);

  transition: 0.3s ease-in color;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_text_grey;
  }
}

.request__navigation-date {
  margin-top: rem(10px);

  @include standardText(16px, 400, $rtf_text_grey);
}

.request__navigation-item.active .request__navigation-label {
  color: $rtf_blue;
}

.request__navigation-item.active {
  background: $rtf_white;
  box-shadow: $rtf_default_box_shadow;
}
