@import "../../../../react_shared/_utils/index";

.indicator-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;

  @include widthLessThan($mobile-rtf) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.indicator__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  max-height: 40px;
  height: 100%;
  margin-right: rem(10px);
  border-radius: 50%;
  background-color: $rtf_blue_grey;

  @include widthLessThan($mobile-rtf) {
    margin-bottom: rem(10px);
  }
}

.indicator-rating__number {
  @include standardText($color: $rtf_blue);
}

.indicator-progress__title {
  max-width: 45%;
  width: 100%;
  padding: rem(0 10px);
  transition: 0.3s ease-in color;

  @include standardText(18px, 500, $rtf_black);

  @include widthLessThan($mobile-rtf) {
    max-width: 50%;
    margin-bottom: rem(10px);
    padding-right: rem(10px);
    font-size: rem(16px);
  }
}

.indicator-progress__title:hover {
  color: $rtf_blue;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_black;
  }
}

.active .indicator-progress__title {
  color: $rtf_blue;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_text_grey;
  }
}

.indicator-progress__content {
  width: 20%;
  margin-left: auto;

  @include widthLessThan($mobile-rtf) {
    margin-left: 0;
    margin-right: rem(20px);
  }
}

// STATUS

.progress-status {
  display: flex;
  align-items: center;
}

.progress-status__indicator {
  min-width: rem(25px);
  height: rem(25px);
  margin-right: rem(10px);
  fill: $rtf_statistic_red;
  transform: rotate(180deg);
}

.hyphen {
  min-width: rem(10px);
  height: rem(1px);
  margin-right: rem(30px);
  background-color: $rtf_grey;
}

.progress-status__indicator.rotate {
  transform: rotate(0deg);
  fill: $rtf_green;
}

.progress-status__number {
  @include standardText($color: $rtf_text_grey, $size: 18px);
}

// USERS

.indicator-progress__users {
  max-width: 20%;
  width: 100%;
}

.indicator-progress__users .grey-text {
  @include standardText(18px, $color: $rtf_text_grey, $weight: 100);
}
