@import "../../../react_shared/_utils/index";

.statistic {
  @include widthLessThan($mobile-rtf) {
    padding-bottom: 80px;
  }
}

.tabs {
  height: 100%;
}

.tab__buttons {
  height: rem(40px);
  margin-bottom: rem(25px);
  border-bottom: 1px solid $rtf_default_border;
}

.tab__button {
  display: inline-block;
  height: rem(36px);

  &:not(:last-child) {
    margin-right: rem(30px);
  }

  @include textButton($weight: 600, $color: $lightGrey, $size: 20px);

  box-sizing: content-box;
  transition: 0.3s ease-in-out color;

  @include widthLessThan($mobile-rtf) {
    font-size: 18px;

    &:not(:last-child) {
      margin-right: rem(15px);
    }
  }

  // todo удалить, когда добавим горизонтальный скрол в табах
  @include widthLessThan(321) {
    font-size: 16px;
  }
}

.tab__button:hover {
  color: $rtf_black;
}

.tab__button--active {
  color: $rtf_black;
  border-bottom: 4px solid $rtf_blue;
}

.tabs__panel {
  display: none;
  height: 100%;
}

.tabs__panel--selected {
  display: block;
}
