@import "../../../../../react_shared/_utils/index";

.indicator {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    padding-bottom: rem(10px);
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: rem(-20px);
    right: rem(-20px);
    height: 1px;
    background-color: $rtf_default_border;
  }
}

.indicator__header {
  display: flex;
  align-items: center;
}

// todo вынести в отдельный компонет
.indicator__header-rating,
.indicator__header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(40px);
  min-height: rem(40px);
  margin-right: rem(10px);
  background-color: $rtf_blue_grey;
  border-radius: 50%;
}

.indicator__header-rating {
  @include heading(6, $color: $rtf_blue, $weight: 500);
}

.indicator__header-icon {
  background-color: $rtf_grey;
}

.indicator__header-title {
  @include standardText($weight: 500);
}

.indicator-comment__text {
  @include standardText($color: $rtf_text_grey);
}

.indicator-comments__title {
  margin: rem(10px 0 0 0);

  @include standardText($weight: 500);
}

.indicator-comment {
  margin-top: rem(10px);
}

.indicator__header-button {
  @include textButton($size: 16px, $color: $rtf_text_grey);

  margin-left: auto;
  box-shadow: none !important;
}

.indicator__header-button .ant-btn:hover {
  color: $rtf_blue !important;
}

.indicator__header-button .ant-btn:focus {
  color: $rtf_text_grey !important;
}

.indicator__icon--close {
  stroke: $rtf_text_grey;
  transform: rotate(45deg);
}
