@import '../../../react_shared/_utils/index';

.dropdown {
  position: relative;
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: rem(10px 14px);
  @include standardText($color: $rtf_black, $size: 18px);
  border: 2px solid $rtf_default_border;
  border-radius: $rtf_xs_radius;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: 0.3s ease-in border-color;
}

.dropdown__label {
  max-width: calc(100% - 24px);
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s ease-in color;
}

.dropdown__arrow {
  transition: 0.3s ease-in transform;
}

.dropdown__arrow rect {
  transition: 0.3s ease-in fill;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: rem(10px);
  border-radius: $rtf_xs_radius;
  background-color: $white;
  box-shadow: $rtf_default_box_shadow;
  z-index: 5;
}

.dropdown__list-item {
  padding: rem(15px);
  @include standardText($color: $rtf_black, $size: 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s ease-in color;
  cursor: pointer;
}

.dropdown__list-item:hover,
.dropdown__list-item:focus {
  color: $rtf_blue;
}

.dropdown__list-item:not(:last-child) {
  border-bottom: 1px solid $rtf_form_border;
}

.dropdown.visible {
  .dropdown__button {
    border-color: $rtf_blue;
  }

  .dropdown__label {
    color: $rtf_blue;
  }

  .dropdown__arrow {
    transform: rotate(180deg);
  }

  .dropdown__arrow rect {
    fill: $rtf_blue;
  }
}
