@import '../../../react_shared/_utils/index';

.feedback-recent-users {
  position: relative;

  @include widthLessThan($mobile-rtf) {
    margin: 0 -30px;
  }
}

.feedback-recent-users .swiper-slide {
  height: auto;
}

.feedback-recent__slide {
  width: rem(170px);

  @include widthLessThan($mobile-rtf) {
    width: rem(80px);
  }
}

.feedback-recent-users .swiper-slide:first-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-left: 30px;
  }
}

.feedback-recent-users .swiper-slide:last-of-type {
  @include widthLessThan($mobile-rtf) {
    margin-right: 30px;
  }
}
