@import '../../../react_shared/_utils/index';

.statistic-accordion__wrap {
  border: 1px solid $rtf_default_border;
  border-radius: $rtf_xs_radius;

  @include widthLessThan($mobile-rtf) {
    border: none;
    border-radius: 0;
  }
}
