@import "react_shared/_utils/index";
@import './_assets/vendors/swiper/swiper.scss';

@font-face {
  font-family: 'SBSansDisplay';
  src: url('./react_shared/fonts/SBSansDisplay-Regular.eot');
  src:
    local('SBSansDisplay-Regular'),
    local('SBSansDisplay-Regular'),
    url('./react_shared/fonts/SBSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./react_shared/fonts/SBSansDisplay-Regular.woff') format('woff'),
    url('./react_shared/fonts/SBSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansDisplay';
  src: url('./react_shared/fonts/SBSansDisplay-SemiBold.eot');
  src:
    local('SBSansDisplay-SemiBold'),
    local('SBSansDisplay-SemiBold'),
    url('./react_shared/fonts/SBSansDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./react_shared/fonts/SBSansDisplay-SemiBold.woff') format('woff'),
    url('./react_shared/fonts/SBSansDisplay-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansDisplay';
  src: url('./react_shared/fonts/SBSansDisplay-Bold.eot');
  src:
    local('SBSansDisplay-Bold'),
    local('SBSansDisplay-Bold'),
    url('./react_shared/fonts/SBSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('./react_shared/fonts/SBSansDisplay-Bold.woff') format('woff'),
    url('./react_shared/fonts/SBSansDisplay-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'SBSansDisplay', serif;
  background-color: $rtf-blue_grey;
}

// Фикс баунса в сафари
@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

input,
textarea {
  font-family: 'SBSansDisplay', sans-serif;
}

// сброс стилей для отображения на мобильных устройствах
input,
textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

// кастомный скролл
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  position: relative;
  left: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.3);
}

// запрет на ресайз textarea
body textarea {
  resize: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
a {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

// Classes

#root {
  height: 100%; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.rtf__root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include widthLessThan($mobile-rtf) {
    height: auto;
    padding-bottom: 100px; // фикс для видимости контента на мобильных
    -webkit-overflow-scrolling: touch;
  }
}

body .ant-modal,
body .ant-tabs {
  font-variant: unset;
  font-family: inherit;
  font-feature-settings: unset;
  -webkit-font-feature-settings: unset;
}

body .ant-modal-body {
  padding: 0;

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    max-height: 80%;
    min-height: 50%;
    border-top-left-radius: $rtf_big_radius;
    border-top-right-radius: $rtf_big_radius;
    background: $rtf_white;
    transform: translateY(100%);
    animation: 0.25s 0.5s ease-out forwards appear;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@keyframes appear {
  to {
    transform: translateY(0)
  }
}

body .ant-modal-body.hide {
  transform: translateY(0);
  animation: 0.25s ease-out forwards hide;
}

@keyframes hide {
  to {
    transform: translateY(100%)
  }
}

body .ant-modal-content {
  border-radius: $rtf_popup_radius;
  overflow: hidden;
}

body .ant-modal-close-x svg {
  width: 14px;
  height: 14px;
}

body .ant-modal-close-x .close-icon--round {
  margin-top: 15px;
  width: 24px;
  height: 24px;
}

input:focus {
  color: $rtf_black;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $rtf_text_grey;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $rtf_text_grey;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $rtf_text_grey;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $rtf_text_grey;
}

.info-tip {
  @include standardText($color: $rtf_grey);

  @include widthLessThan($mobile-rtf) {
    padding: 0 30px;
  }
}

.rtf__common-body--overflow {
  width: 100%;
  height: 100%;
  padding: rem(50px);
  overflow-y: auto;
  overflow-x: hidden;

  @include widthLessThan($mobile-rtf) {
    padding: 30px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

// Меняем стили контейнера для мобильной версии на странице входящих запросов
.rtf__common-body--overflow.income {
  @include widthLessThan($mobile-rtf) {
    padding: 0;
  }

  .rtf__common-content {
    @include widthLessThan($mobile-rtf) {
      background-color: $rtf_dark_blue;
    }
  }

  .common-container__header {
    @include widthLessThan($mobile-rtf) {
      margin-bottom: 0;
      padding: 30px;
      background-color: $white;
    }
  }
}
