@import '../../../../../../react_shared/_utils/index';

.expert__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  background-color: $rtf_light_grey;
  border-radius: 10px;
  margin-right: 20px;
}

.expert__card:last-of-type {
  margin-right: 0;
}

.expert__card {
  display: flex;
}

.expert__card.column {
  flex-direction: column;
}

.expert__card.row {
  flex-direction: row;
}

.expert-card__photo {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin-right: rem(10px);
  background-color: $rtf_light_pink;
  border-radius: 50%;

  @include widthMoreThan($mobile-rtf) {
    min-width: 50px;
    height: 50px;
  }

  @include widthLessThan($mobile-rtf) {
    min-width: 40px;
    height: 40px;
  }
}

.expert-card__content {
  margin-top: 20px;
}

.expert-card__name {
  @include standardText(16px, 500, $rtf_black);
  line-height: 20px;
}

.expert-card__position {
  margin-top: 8px;
  @include standardText(16px, 400, $rtf_text_grey);
  line-height: 20px;
}
