@import "../../../../../../react_shared/_utils/index";

.profi__question {
  margin-bottom: 25px;
}

.profi__question:last-of-type {
  margin-bottom: 0;
}

.profi__question-row {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profi__question-label {
  @include standardText(20px, 500, $rtf_black);
  line-height: 25px;
}

.profi__question-arrow {
  border: 0;
  outline: 0;
  margin-left: 10px;
}

.profi__question-arrow.rotate svg {
  transform: rotate(-180deg);
}

.profi__question-body {
  margin-top: 8px;
}

.profi__question-text {
  @include standardText(18px, 400, $rtf_black);
  line-height: 25px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.profi__question-text:last-of-type {
  margin-bottom: 0;
}
