@import "../../react_shared/_utils/index";

.go-back__action {
  display: flex;
  align-items: center;
  padding: 0;
  //margin-bottom: rem(18px);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.go-back__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 35px;
  min-width: 35px;
  width: 100%;
  max-height: 35px;
  min-height: 35px;
  height: 100%;
  background-color: $rtf_grey;
  border-radius: 50%;
}

.go-back__icon {
  width: 21px;
  height: 20px;
  transform: rotate(180deg);
}

.go-back__label {
  padding-left: rem(15px);
  @include standardText($size: 18px, $color: $rtf_text_grey);
}

