@import "../../../react_shared/_utils/index";

.feedback-item {
  width: auto;
}

.feedback-item__name {
  display: flex;
  align-items: center;
  height: 100%;
  padding: rem(7px 15px);

  @include standardText($color: $rtf_text_grey, $weight: 500);

  line-height: 1.25;
  word-break: break-word;
  hyphens: auto;
  border-radius: 1.125rem;
  border: 1px solid $rtf_default_border;
  cursor: pointer;
  transition: 0.3s ease-in all;
}

.feedback-item__name:hover {
  color: $rtf_blue;
  box-shadow: $rtf_default_box_shadow;
  border-color: transparent;

  @include widthLessThan($mobile-rtf) {
    color: $rtf_text_grey;
    box-shadow: none;
    border: 1px solid $rtf_default_border;
  }
}

.feedback-item.selected .feedback-item__name {
  color: $rtf_blue;
  box-shadow: $rtf_default_box_shadow;
  border-color: transparent;

  @include widthLessThan($mobile-rtf) {
    font-weight: 500;
    box-shadow: none;
    background-color: $rtf_blue_grey;
    border-color: transparent;
  }
}

.feedback-item.selected .property-slide__icon {
  @include widthLessThan($mobile-rtf) {
    background-color: $rtf_blue;
  }
}
