@import "../../../react_shared/_utils/index";

.add-comment__title {
  @include heading(h3);

  margin-bottom: rem(25px);
}

.add-comment__input {
  width: 100%;
  height: rem(105px);
  margin-bottom: rem(16px);

  @include inputText($border: 1px solid $rtf_form_border);
}

.add-comment__input::placeholder {
  color: $rtf_text_grey;
}
